form {
    background: azure;
    padding: 20px 30px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    width: 350px;
    line-height: 2; /* space between text + inputs */
  }
  
  form div {
    margin-bottom: 10px;
    font-weight: bold;
    color: darkslategrey;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 25px;
    outline: none;
    transition: border 0.3s ease;
  }
  
  /* Focus effect */
  input:focus {
    border-color: sienna;
  }
  
  /* Submit button */
  button {
    width: 100%;
    padding: 10px;
    background: black;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  button:hover {
    background: teal;
  }